.profile__form {
    width: 100%;
    height: 90vh;
    position: relative;
}

@media screen and (max-width: 850px) {
    .profile__form {
        height: 164vh;
    }
}

@media screen and (max-width: 500px) {
    .profile__form {
        height: 122vh;
    }
}

.profile__box {
    max-width: 410px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .profile__box {
        max-width: 260px;
    }
}

/* @media screen and (max-width: 500px) {
    .profile__title-box {
        height: 641px;
        font-size: 11px;
        margin: 0 18px;
    }
} */

.profile__greeting {
    font-size: 24px;
    font-weight: 500;
    margin: 75px 0 0;
}


@media screen and (max-width: 850px) {
    .profile__greeting {
        margin-top: 237px;
    }
}

@media screen and (max-width: 500px) {
    .profile__greeting {
        margin-top: 71px;
    }
}

.profile__name {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    border-bottom: 1px solid #424242;
    margin: 109px 0 0;
}

.profile__name:last-of-type {
    border-bottom: none;
    margin: 2px 0 0;
}

@media screen and (max-width: 850px) {
    .profile__name {
        margin-top: 82px;
    }
}

@media screen and (max-width: 500px) {
    .profile__name {
        margin-top: 65px;
    }
}

.profile__label {
    line-height: 22px;
}

.profile__auto-label {
    font-size: 11px;
    color: white;
    text-align: end;
    margin: 0;
    font-weight: 400;
    margin-top: 12px;
    border: none;
    background: none;
}

.profile__change {
    all: unset;
    position: absolute;
    bottom: 102px;
    font-size: 13px;
    font-weight: 400;
    transition: opacity 0.5s linear;
    margin: 0;
}

.profile__change_disabled{
    pointer-events: none;
    border:  1px solid rgba(230, 95, 95, 0.2);
    background-color: rgba(230, 95, 95,0);
    color: rgba(230, 95, 95,20%);
}

@media screen and (max-width: 850px) {
    .profile__change {
        bottom: 301px;
    }
}

@media screen and (max-width: 500px) {
    .profile__change {
        bottom: 71px;
        font-size: 12px;
    }
}

.profile__change:hover {
    opacity: 60%;
    cursor: pointer;
}

.profile__exit {
    position: absolute;
    bottom: 70px;
    font-size: 13px;
    font-weight: 500;
    transition: opacity 0.5s linear;
    color: #EE3465;
    margin: 0;
}

@media screen and (max-width: 850px) {
    .profile__exit {
        bottom: 269px;
    }
}

@media screen and (max-width: 500px) {
    .profile__exit {
        bottom: 40px;
        font-size: 12px;
    }
}

.profile__exit:hover {
    opacity: 60%;
    cursor: pointer;
}

.profile__valid-error {
    font-size: 10px;
    font-weight: 400;
    color: rgb(212, 167, 19);
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -15px;
    position: absolute;
    border: 0;
    transition: 0.3s;
}

.profile__valid-error_active {
    opacity: 1;
}

.profile__compare-message {
    font-size: 12px;
    font-weight: 400;
    color: rgb(197, 166, 166);
    left: 0;
    right: 0;
    text-align: center;
    top: 150px;
    position: absolute;
    border: 0;
    transition: 0.3s;
}