.about-project{
    max-width: 1280px;
    margin: 0;
}

.about-project__title-box{
    max-width: 1140px;
    height: 608px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.main__subtitle_margin{

}

.about-project__text{
    line-height: 1.4;
}

.about-project__describe{
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 500px));
    gap: 0px 90px;
    margin: 53px 0 0;
}

.about-project__title{
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.2px;
}

.about-project__text{
}

.about-project__term{
    display: grid;
    grid-template-columns: minmax(100px, 228px) minmax(184px, 912px);
    grid-template-rows: repeat(2, 36px);
    gap: 0;
    margin: 90px 0 100px 0;
}

.about-project__cell{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B8B8B;
}

.about-project__cell-text{
    margin: 10px 0 0;
}

.about-project__cell_light{
    color: black;
    background-color: #3DDC84;
}

.about-project__cell_dark{
    color: white;
    background-color: #303030;
}