.main{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.main__title{
    font-size: 47px;
    font-weight: 400;
}

.main__subtitle{
    font-size: 21px;
    font-weight: 400;
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #DADADA;
    margin: 113px 0 0;
}