.search-form{
    width: 100%;
    max-height: 250px;
    margin: 0;
}

.search-form__form{
    max-width: 1140px;
    height: 162px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #AAAAAA;
    margin: 70px;
}
.search-form__input-box{
    display: flex;
    width: 100%;
    align-items: center;
}

.search-form__input{
    width: 100%;
    background-color: #202020;
    border: 1.5px solid #AAAAAA;
    color: white;
    height: 68px;
    border-radius: 10px;
    padding-left: 23px;
}

.search-form__button{
    position: absolute;
    width: 100px;
    height: 52px;
    font-size: 14px;
    font-weight: 500;
    background-color: #4285F4;
    border-radius: 4px;
    right: 10px;
    transition: opacity 0.5s linear;
    margin: 0;
}

.search-form__button:hover {
    opacity: 60%;
    cursor: pointer;
}
