.techs{
    width: 100%;
    background-color: #272727;
}

.techs__title-box{
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.techs-main__subtitle_margin{
    margin: 103px 0 0;
}

.techs-main__title_margin{
    margin: 93px 0 0;
}

.techs__text{
    max-width: 465px;
    font-size: 13px;
    line-height: 1.5;
    margin: 28px auto 0;
    text-align: center;
}

.techs__buttons{
    display: flex;
    width: 690px;
    height: 60px;
    justify-content: space-between;
    margin: 100px 0 100px 0;
}

.techs__button{
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 10%;
    background-color: #303030;
    cursor: pointer;
    margin: 0;
}