.techs {
  width: 100%;
  background-color: #272727;
}

@media screen and (max-width: 680px) {
  .techs {
    background-color: #202020;
  }
}

.techs__title-box {
  max-width: 1140px;
  height: 625px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 1150px) {
  .techs__title-box {
    height: 567px;
    margin: 0 50px;
  }
}

@media screen and (max-width: 500px) {
  .techs__title-box {
    height: 641px;
    font-size: 11px;
    margin: 0 18px;
  }
}

.techs-main__subtitle_margin {
  margin: 81px 0 0;
}

@media screen and (max-width: 1000px) {
  .techs-main__subtitle_margin {
    margin: 71px 0 0;
  }
}

@media screen and (max-width: 550px) {
  .techs-main__subtitle_margin {
    font-size: 17px;
    line-height: 75px;
    margin-top: 45px;
  }
}

.techs-main__title_margin {
  margin: 93px 0 0;
}

@media screen and (max-width: 1000px) {
  .techs-main__title_margin {
    margin-top: 84px;
  }
}

@media screen and (max-width: 400px) {
  .techs-main__title_margin {
    font-size: 28px;
    margin-top: 62px;
  }
}

.techs__text {
  max-width: 465px;
  font-size: 13px;
  line-height: 1.5;
  margin: 28px auto 0;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .techs__text {
    max-width: 421px;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 0.06px;
    margin: 26px auto 0;
  }
}

@media screen and (max-width: 900px) {
  .techs__text {
    font-size: 10px;
    margin-top: 28px;
  }
}

.techs__buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  gap: 10px 10px;
  max-width: 692px;
  min-height: 60px;
  justify-content: space-between;
  margin: 100px 0 100px 0;
}

@media screen and (max-width: 870px) {
  .techs__buttons {
    max-width: 85vw;
    grid-template-columns: repeat(auto-fill, 85px);
    gap: 10px 9px;
    margin: 85px 10% 100px 10%;
  }
}

@media screen and (max-width: 870px) {
  .techs__buttons {
    margin-top: 51px;
  }
}

.techs__button {
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 10px;
  background-color: #303030;
  transition: opacity 0.5s linear;
  margin: 0;
}

.techs__button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .techs__button {
    font-size: 11px;
    width: 85px;
    height: 57px;
  }
}
