.header {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.header__logo {
    background-image: url(../../images/logo.svg);
    width: 38px;
    height: 38px;
    transition: opacity 0.5s linear;
    margin-left: 70px;
}

.header__logo:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .header__logo {
        margin-left: 4%;
    }
}

.header__no-links {
    margin: 0;
}

.header__user-form {
    width: 100px;
    letter-spacing: 1.3px;
    max-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
}

@media screen and (max-width: 1200px) {
    .header__user-form {
        margin-right: 4%;
    }
}

@media screen and (max-width: 450px) {
    .header__user-form {
        font-size: 10px;
        width: 133px;
    }
}

.header__links-form {
    width: 214px;
    font-weight: 400;
    letter-spacing: 0.8px;
    max-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0 0 66px;
}


.header__user-buttons {
    width: 183px;
    max-height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
}

@media screen and (max-width: 1200px) {
    .header__user-buttons {
        margin-right: 4%;
    }
}

@media screen and (max-width: 450px) {
    .header__user-buttons {
        font-size: 10px;
        width: 133px;
    }
}

.header__link {
    transition: opacity 0.5s linear;
    text-decoration: none;
    color: white;
    margin: 0;
}

.header__link:hover {
    opacity: 60%;
    cursor: pointer;
    text-decoration: underline;
}

.header__img-link {
    background-image: url(../../images/userIcon.svg);
    width: 26px;
    height: 30px;
    transition: opacity 0.5s linear;
    margin: 0;
}

.header__img-link:hover {
    opacity: 60%;
    cursor: pointer;
}

.header__button {
    width: 76px;
    height: 32px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    transition: opacity 0.5s linear;
    background-color: #3DDC84;
}

.header__button:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .header__button {
        width: 54px;
        height: 26px;
    }
}

.header__signup {
    transition: opacity 0.5s linear;
}

.header__signup:hover {
    opacity: 60%;
    cursor: pointer;
    text-decoration: underline;
}