.header__burger-box {
  position: relative;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
  transition: opacity 0.5s linear;
  z-index: 3;
}

@media screen and (max-width: 450px) {
  .header__burger-box {
    margin-right: 9px;
  }
}

.header__burger-box:hover {
  opacity: 60%;
  cursor: pointer;
}

.header__burger {
  position: absolute;
  left: 8px;
  width: 28px;
  height: 3px;
  content: "";
  background-color: #fff;
}

@media screen and (max-width: 450px) {
  .header__burger {
    width: 21px;
  }
}

.header__burger::after,
.header__burger::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 28px;
  height: 3px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 450px) {
  .header__burger::after,
  .header__burger::before {
    width: 21px;
  }
}

.header__burger::before {
  top: 10px;
}

.header__burger::after {
  bottom: 10px;
}

.header__burger.active-burger {
  visibility: hidden;
  left: 26px;
}

@media screen and (max-width: 450px) {
  .header__burger.active-burger {
    left: 34px;
  }
}

.header__burger.active-burger::before {
  transform: rotate(45deg);
  top: 0;
  visibility: visible;
  width: 22px;
}

@media screen and (max-width: 450px) {
  .header__burger.active-burger::before {
    top: -9px;
  }
}

.header__burger.active-burger::after {
  transform: rotate(-45deg);
  top: 0;
  visibility: visible;
  width: 22px;
}

@media screen and (max-width: 450px) {
  .header__burger.active-burger::after {
    top: -9px;
  }
}
