.promo{
    max-width: 1200px;
    height: 493px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    border-radius: 1%;
    font-size: 12px;
    font-weight: 500;
    margin: 20px auto 0 auto;
}

.promo-main__title_margin{
    margin: 110px 0 0;
    line-height: 1.26;
    text-align: center;
    max-width: 730px;
    max-height: 116px;
}

.promo__buttons-area{
    display: flex;
    width: 308px;
    height: 36px;
    list-style: none;
    justify-content: space-between;
    margin: 155px 0 0;
    padding: 0;
}

.promo__button{
    width: 96px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: #303030;
    cursor: pointer;
    margin: 0 0 10px 0;
}