.login {
    max-width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.login__greeting {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 500;
    margin: 40px 0 20px;
}

@media screen and (max-width: 649px) {
    .login__greeting {
        align-self: center;
        margin: 55px 0 60px;
    }
}

.login__input-box {
    position: relative;
    width: 396px;
    height: 68px;
    font-weight: 400;
    margin: 20px 0 0;
}

@media screen and (max-width: 649px) {
    .login__input-box {
        width: 260px;
    }
}

.login__input-label {
    font-size: 10px;
    color: #8B8B8B;
    margin: 0;
}

/* @media screen and (max-width: 649px) {
    .login__input-label {
        width: 260px;
    }
} */

.login__input {
    font-size: 13px;
    width: 100%;
    color: white;
    height: 46px;
    border: none;
    background-color: #2F2F2F;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 10px 0 0;
    padding-left: 15px;
}

#login-password {
    color: #EE3465;
}

.login__input:hover {
    border: 1px solid #5A5A5A;
}

.login__button {
    width: 396px;
    height: 45px;
    background-color: #4285F4;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    transition: opacity 0.5s linear;
    margin: 179px 0 0;
}

@media screen and (max-width: 649px) {
    .login__button {
        width: 260px;
        height: 46px;
        font-size: 12px;
        margin-top: 267px;
    }
}
.login__button_disabled{
    pointer-events: none;
    border:  1px solid rgba(230, 95, 95, 0.2);
    background-color: rgba(230, 95, 95,0);
    color: rgba(230, 95, 95,20%);
}

.login__button:hover {
    cursor: pointer;
    opacity: 80%;
}

.login__button_label {
    text-align: center;
}

.login__label {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: #8B8B8B;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 649px) {
    .login__label {
        font-size: 12px;
        margin-top: 7px;
    }
}

.login__login-link {
    color: #4285F4;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.5s linear;
    margin: 0;
}

.login__login-link:hover {
    cursor: pointer;
    opacity: 80%;
    margin-left: 3px;
}

.login__valid-error {
    font-size: 10px;
    font-weight: 400;
    color: rgb(212, 167, 19);
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -15px;
    position: absolute;
    border: 0;
    transition: 0.3s;
}

.login__valid-error_active {
    opacity: 1;
}

.login__compare-message {
    font-size: 12px;
    font-weight: 400;
    color: rgb(197, 166, 166);
    left: 0;
    right: 0;
    text-align: center;
    top: 150px;
    position: absolute;
    border: 0;
    transition: 0.3s;
}